@import './editor-base.css';

/* ========================================================================== 
   Tag Editor Component Custom Styles 
   ========================================================================== */

/* Color picker input and color code display */
input[type="color"] {
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  background: none;
  vertical-align: middle;
  cursor: pointer;
}
.color-value {
  font-family: monospace;
  font-size: 1em;
  color: #444;
  margin-left: 4px;
}